{{/* 
File: wissen/layouts/partials/seo/is-indexable.html
Version: 2026-01-17 18:09
Purpose:
  Return true if the current page should be indexable.
*/}}

{{- $noindex := false -}}

{{- if .Params.noindex -}}
  {{- $noindex = true -}}
{{- end -}}

{{- with .Params.robots -}}
  {{- if reflect.IsSlice . -}}
    {{- range . -}}
      {{- if eq (lower .) "noindex" -}}
        {{- $noindex = true -}}
      {{- end -}}
    {{- end -}}
  {{- else if reflect.IsMap . -}}
    {{- if eq (lower (index . "index")) "noindex" -}}
      {{- $noindex = true -}}
    {{- end -}}
  {{- else -}}
    {{- if in (lower (printf "%v" .)) "noindex" -}}
      {{- $noindex = true -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if .Draft -}}
  {{- $noindex = true -}}
{{- end -}}

{{- not $noindex -}}
