{{- define "main" -}}
  {{- $lang := .Site.Language.Lang -}}

  {{/* Robust URL resolution with with/else (never treat pages as bool) */}}
  {{- $shopURL := cond (eq $lang "de") "https://www.vertaefelungen.de/de/" "https://www.vertaefelungen.de/en/" -}}

  {{- $faqURL := cond (eq $lang "de") "/de/faq/" "/en/faq/" -}}
  {{- with site.GetPage (printf "/%s/faq" $lang) -}}
    {{- $faqURL = .RelPermalink -}}
  {{- end -}}

  {{- $productsURL := cond (eq $lang "de") "/de/produkte/" "/en/products/" -}}
  {{- with site.GetPage (printf "/%s/%s" $lang (cond (eq $lang "de") "produkte" "products")) -}}
    {{- $productsURL = .RelPermalink -}}
  {{- end -}}

  {{- $lookbookURL := cond (eq $lang "de") "/de/lookbook/" "/en/lookbook/" -}}
  {{- with site.GetPage (printf "/%s/lookbook" $lang) -}}
    {{- $lookbookURL = .RelPermalink -}}
  {{- end -}}

  {{- $aboutURL := cond (eq $lang "de") "/de/ueber-uns/" "/en/about-us/" -}}
  {{- with site.GetPage (printf "/%s/%s" $lang (cond (eq $lang "de") "ueber-uns" "about-us")) -}}
    {{- $aboutURL = .RelPermalink -}}
  {{- end -}}

  <section class="home">
    <div class="container">
      {{- partial "components/hero.html" (dict
        "title" (i18n "home_title" | default .Site.Title)
        "lead" (i18n "home_lead")
      ) -}}

      <h2 class="home__section-title">{{ i18n "home_section_title" | default "Direkt einsteigen" }}</h2>

      {{- partial "components/card-grid.html" (dict
        "items" (slice
          (dict
            "title" (i18n "home_tile_shop_title" | default "Shop")
            "text" (i18n "home_tile_shop_text")
            "href" $shopURL
          )
          (dict
            "title" (i18n "home_tile_faq_title" | default "FAQ")
            "text" (i18n "home_tile_faq_text")
            "href" $faqURL
          )
          (dict
            "title" (i18n "home_tile_products_title" | default "Produkte")
            "text" (i18n "home_tile_products_text")
            "href" $productsURL
          )
          (dict
            "title" (i18n "home_tile_lookbook_title" | default "Lookbook")
            "text" (i18n "home_tile_lookbook_text")
            "href" $lookbookURL
          )
          (dict
            "title" (i18n "home_tile_about_title" | default "Über uns")
            "text" (i18n "home_tile_about_text")
            "href" $aboutURL
          )
        )
      ) -}}
    </div>
  </section>
{{- end -}}
