DirectoryIndex index.html index.htm
Options -Indexes

<IfModule mod_negotiation.c>
  Options -MultiViews
</IfModule>

<IfModule mod_php.c>
  php_flag engine off
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /wissen/
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule . - [L]
  RewriteRule ^$ index.html [L]
</IfModule>
# Redirect .md-Links (alte/harte Links) auf "slash-URL"
RewriteCond %{REQUEST_URI} \.md$ [NC]
RewriteRule ^(.+)\.md$ /wissen/$1/ [R=301,L]
