# .htaccess — v2025-09-24 18:30
DirectoryIndex index.html index.htm
Options -Indexes

<IfModule mod_negotiation.c>
  Options -MultiViews
</IfModule>

<IfModule mod_php.c>
  php_flag engine off
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /wissen/

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule . - [L]

  RewriteRule ^$ index.html [L]
</IfModule>
